
.header-image img{
	width:100%;
}
.nav-link{
	text-align:center;
}
.description-box{
	width:100%;
	background:#F5F5F5;
}

.description-box h1{
	padding-top:60px;
	padding-bottom:15px;
	text-align:center;
}
.description-box p{
	text-align:center;
	padding-bottom:60px;
}
.grid{
	background:#E6E6FA;
	margin-top:-20px;
}
.food{
	width:30%;
	margin:auto;
	display:block;
	margin-top:25px;
}
.drink{
	width:30%;
	margin:auto;
	display:block;
	margin-top:25px;
}
.row h4{
	text-align:center;
	margin-top:15px;
}
.row p{
	text-align:center;
}
.more{
	width:7%;
	margin:auto;
	display:block;
	padding-bottom:15px;
}
.upcoming-events{
	background:black;
}
.upcoming-events h3{
	text-align:center;
}
.upcoming-events p{
	text-align:center;
}
.footer{
	width:100%;
	background:#B0C4DE;
	height:80px;
	bottom:0;
}